  button:hover {
    transform: translateY(-4px) translateX(-2px);
    box-shadow: 2px 5px 0 0 black;
    background-color: azure
  }

  button:active {
    transform: translateY(2px) translateX(1px);
    box-shadow: 0 0 0 0 black;
  }

  button {
    position: relative;
    background-color: #f8f8f8;
    color: black;
    border-radius: 10em;
    font-size: 17px;
    font-weight: 600;
    padding: 0.4em 0.4em;
    margin: 1em 0.5em;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border: 1px solid black;
    box-shadow: 0 0 0 0 black;
    content: '';
  }

  button::before {
    content: attr(data-title);
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 12px;
    display: none;
  }

  button:hover::before {
    display: block;
  }